.user-info-container {
    padding: 12px 16px;
    outline: none;

    h3 {
        margin: 0;
        font-weight: 500;
    }

    .user-email {
        margin: 0;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
    }
}