<div class="storage-card">
  <div class="storage-header">
    <div class="header-left">
      <mat-icon class="storage-icon">cloud_queue</mat-icon>
      <span class="storage-title">Storage</span>
    </div>
    <span class="percent-badge">{{ progressValue }}%</span>
  </div>

  <mat-progress-bar class="storage-bar" mode="determinate" [value]="progressValue"></mat-progress-bar>

  <div class="storage-stats">
    <span class="used">{{ formattedUsed }} used</span>
    <span class="total">of {{ formattedLimit }}</span>
  </div>
</div>

