<mat-nav-list class="nav-list">
  <!-- Home -->
  <mat-list-item (click)="onFolderClick('')">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </mat-list-item>

  <!-- Divider & Folders -->
  <mat-divider></mat-divider>
  <h3 matSubheader>Folders</h3>

  <mat-list-item 
    *ngFor="let folder of folders"
    (click)="onFolderClick(folder)">
    <mat-icon matListItemIcon class="folder-icon">folder</mat-icon>
    <span matListItemTitle>{{folder}}</span>
  </mat-list-item>
</mat-nav-list>